Repository facelessuser/pymdown-extensions, pull requests merged in 2019-12, with the labels that each got.

#750 update end copyright year for footer
  mkdocs.yml
Labels: C: infrastructure, S: approved

#758 Fix issue: generated absolute paths in Windows don't work in Firefox
  docs/src/markdown/changelog.md
  pymdownx/pathconverter.py
  tests/test_extensions/test_pathconverter.py
Labels: C: docs, C: pathconverter, C: source, C: tests, S: approved

#763 Mention extension name in docs for extension inclusion
  docs/src/markdown/changelog.md
  docs/src/markdown/contributing.md
  docs/src/markdown/development.md
  docs/src/markdown/extensions/arithmatex.md
  docs/src/markdown/extensions/b64.md
  docs/src/markdown/extensions/betterem.md
  docs/src/markdown/extensions/caret.md
  docs/src/markdown/extensions/critic.md
  docs/src/markdown/extensions/details.md
  docs/src/markdown/extensions/emoji.md
  docs/src/markdown/extensions/escapeall.md
  docs/src/markdown/extensions/extra.md
  docs/src/markdown/extensions/extrarawhtml.md
  docs/src/markdown/extensions/highlight.md
  docs/src/markdown/extensions/inlinehilite.md
  docs/src/markdown/extensions/keys.md
  docs/src/markdown/extensions/magiclink.md
  docs/src/markdown/extensions/mark.md
  docs/src/markdown/extensions/pathconverter.md
  docs/src/markdown/extensions/progressbar.md
  docs/src/markdown/extensions/smartsymbols.md
  docs/src/markdown/extensions/snippets.md
  docs/src/markdown/extensions/striphtml.md
  docs/src/markdown/extensions/superfences.md
  docs/src/markdown/extensions/tasklist.md
  docs/src/markdown/extensions/tilde.md
  docs/src/markdown/faq.md
  docs/src/markdown/index.md
  docs/src/markdown/installation.md
  docs/src/markdown/miscellaneous_extras.md
  docs/src/markdown/release.md
  docs/src/markdown/usage_notes.md
Labels: C: docs, C: emoji, S: approved

#773 Deprecate extrarawhtml in favor of md_in_html in Python Markdown 3.2
  .pyspelling.yml
  docs/src/markdown/changelog.md
  docs/src/markdown/extensions/extrarawhtml.md
  pymdownx/__meta__.py
  pymdownx/extra.py
  pymdownx/extrarawhtml.py
  pymdownx/util.py
  requirements/docs.txt
  tox.ini
Labels: C: docs, C: extra, C: extrarawhtml, C: infrastructure, C: source, S: approved

#698 In Pygments 2.4+ code under pre tags are wrapped with code tags too
  docs/src/markdown/changelog.md
  docs/src/markdown/extensions/highlight.md
  docs/src/scss/_code.scss
  docs/theme/extra-424d7dfff1.css
  mkdocs.yml
  pymdownx/highlight.py
  pymdownx/superfences.py
  tests/extensions/superfences/superfences (normal).html
  tests/extensions/superfences/superfences (preserve tabs).html
  tests/extensions/superfences/superfences (tabs).html
  tests/test_extensions/test_highlight.py
Labels: C: docs, C: highlight, C: infrastructure, C: source, C: superfences, C: tests, S: approved

#774 Drop Python 2.7
  .travis.yml
  appveyor.yml
  pymdownx/inlinehilite.py
  pymdownx/keys.py
  pymdownx/pathconverter.py
  pymdownx/slugs.py
  pymdownx/util.py
  setup.py
  tests/test_syntax.py
  tests/util.py
Labels: C: infrastructure, C: inlinehilite, C: keys, C: pathconverter, C: slugs, C: source, C: tests, S: approved
