Repository facelessuser/pymdown-extensions, pull requests merged in 2020-07, with the labels that each got.

#1015 Remove extrarawhtml
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/extrarawhtml.md
  docs/src/mkdocs.yml
  mkdocs.yml
  pymdownx/extrarawhtml.py
  tests/test_extensions/test_extrarawhtml.py
Labels: C: docs, C: extrarawhtml, C: infrastructure, C: source, C: tests, S: approved

#1016 Fix Fatal Unpacking Bug
  pymdownx/superfences.py
Labels: C: source, C: superfences, S: approved

#1020 Handle HTML characters special
  pymdownx/escapeall.py
  tests/test_extensions/test_escapeall.py
Labels: C: escapeall, C: source, C: tests, S: approved

#1033 Document updates to support Material 5.5
  docs/src/markdown/_snippets/links.txt
  docs/src/markdown/extensions/arithmatex.md
  docs/src/markdown/extensions/b64.md
  docs/src/markdown/extensions/betterem.md
  docs/src/markdown/extensions/caret.md
  docs/src/markdown/extensions/critic.md
  docs/src/markdown/extensions/details.md
  docs/src/markdown/extensions/emoji.md
  docs/src/markdown/extensions/escapeall.md
  docs/src/markdown/extensions/extra.md
  docs/src/markdown/extensions/highlight.md
  docs/src/markdown/extensions/inlinehilite.md
  docs/src/markdown/extensions/keys.md
  docs/src/markdown/extensions/magiclink.md
  docs/src/markdown/extensions/mark.md
  docs/src/markdown/extensions/pathconverter.md
  docs/src/markdown/extensions/progressbar.md
  docs/src/markdown/extensions/saneheaders.md
  docs/src/markdown/extensions/smartsymbols.md
  docs/src/markdown/extensions/snippets.md
  docs/src/markdown/extensions/striphtml.md
  docs/src/markdown/extensions/superfences.md
  docs/src/markdown/extensions/tabbed.md
  docs/src/markdown/extensions/tasklist.md
  docs/src/markdown/extensions/tilde.md
  docs/src/markdown/faq.md
  docs/src/mkdocs.yml
  docs/src/scss/_general.scss
  docs/src/scss/extra.scss
  docs/theme/assets/pymdownx-extras/extra-50b6232f8a.css
  docs/theme/assets/pymdownx-extras/extra-8abaeeb5ce.css
  mkdocs.yml
Labels: C: docs, C: emoji, C: infrastructure, S: approved
