Repository facelessuser/pymdown-extensions, pull requests merged in 2020-08, with the labels that each got.

#1034 Fix issues with details and tabbed extensions when using lists
  docs/src/markdown/about/changelog.md
  gulpfile.babel.js
  pymdownx/details.py
  pymdownx/tabbed.py
  tests/test_extensions/test_details.py
  tests/test_extensions/test_tabbed.py
Labels: C: details, C: docs, C: infrastructure, C: source, C: tests, S: approved

#1039 Update keys.md
  docs/src/markdown/extensions/keys.md
Labels: S: approved

#1041 Fix tabbed regression
  pymdownx/tabbed.py
  tests/test_extensions/test_tabbed.py
Labels: C: source, C: tests, S: approved

#1043 Allow configuring language prefix of code blocks when no Pygments
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/highlight.md
  pymdownx/highlight.py
  pymdownx/inlinehilite.py
  pymdownx/superfences.py
  tests/test_extensions/test_highlight.py
Labels: C: docs, C: highlight, C: inlinehilite, C: source, C: superfences, C: tests, S: approved

#1045 Remove key map as Material already provides CSS and remove workaround
  docs/src/scss/extensions/_keys.scss
  docs/src/scss/extensions/_tabbed.scss
  docs/theme/assets/pymdownx-extras/extra-1224b64539.css
  docs/theme/assets/pymdownx-extras/extra-b28603fe0d.css
  mkdocs.yml
Labels: C: docs, C: infrastructure, S: approved

#1009 Add full support attribute list style headers
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/about/release.md
  docs/src/markdown/extensions/superfences.md
  pymdownx/__meta__.py
  pymdownx/arithmatex.py
  pymdownx/highlight.py
  pymdownx/inlinehilite.py
  pymdownx/superfences.py
  tests/extensions/superfences/superfences (custom).html
  tests/extensions/superfences/superfences (failures).html
  tests/extensions/superfences/superfences (no pygments).html
  tests/extensions/superfences/superfences (no pygments).txt
  tests/extensions/superfences/superfences (tabs).html
  tests/extensions/superfences/superfences (tabs).txt
  tests/extensions/superfences/tests.yml
  tests/test_extensions/test_highlight.py
  tests/test_extensions/test_inlinehilite.py
  tests/test_extensions/test_superfences.py
Labels: C: arithmatex, C: docs, C: highlight, C: inlinehilite, C: source, C: superfences, C: tests, S: approved

#1050 Update documentation for 8.0
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/about/contributing.md
  docs/src/markdown/about/release.md
  docs/src/markdown/extensions/superfences.md
  docs/src/scss/_general.scss
  docs/src/scss/_material.scss
  docs/src/scss/extensions/_admonition.scss
  docs/src/scss/extensions/_highlight.scss
  docs/src/scss/extensions/_tables.scss
  docs/src/scss/palette/_colors.scss
  docs/theme/announce.html
  docs/theme/assets/pymdownx-extras/extra-21f29ce7c5.css
  docs/theme/assets/pymdownx-extras/extra-b28603fe0d.css
  docs/theme/main.html
  mkdocs.yml
Labels: C: docs, C: infrastructure, S: approved

#1057 Remove tabbed fences feature mention
  docs/src/markdown/extensions/superfences.md
Labels: C: docs, S: approved

#1059 Encapsulate Mermaid diagrams in shadow DOMs
  .eslintrc
  docs/src/dictionary/en-custom.txt
  docs/src/js/extra.js
  docs/src/js/uml.js
  docs/src/markdown/_snippets/links.txt
  docs/src/markdown/_snippets/uml.txt
  docs/src/markdown/extensions/superfences.md
  docs/src/markdown/extras/mermaid.md
  docs/src/markdown/extras/slugs.md
  docs/src/mkdocs.yml
  docs/src/scss/_general.scss
  docs/src/scss/_material.scss
  docs/src/scss/extensions/_admonition.scss
  docs/src/scss/extensions/_critic.scss
  docs/src/scss/extensions/_highlight.scss
  docs/src/scss/extensions/_keys.scss
  docs/src/scss/extensions/_mark.scss
  docs/src/scss/extensions/_progressbar.scss
  docs/src/scss/extensions/_tabbed.scss
  docs/src/scss/extensions/_tables.scss
  docs/src/scss/extensions/_tasklist.scss
  docs/src/scss/extra.scss
  docs/src/scss/js/_mermaid.scss
  docs/src/scss/js/_mermaid_dracula.scss
  docs/src/scss/palette/_colors.scss
  docs/theme/assets/pymdownx-extras/extra-52ccfbf8e7.js
  docs/theme/assets/pymdownx-extras/extra-605e643791.css
  docs/theme/assets/pymdownx-extras/extra-ccf8fcccf4.css
  docs/theme/assets/pymdownx-extras/extra-db2876d081.js
  mkdocs.yml
Labels: C: docs, C: infrastructure, S: approved
