Repository facelessuser/pymdown-extensions, pull requests merged in 2020-04, with the labels that each got.

#879 Prep 7.0 release
  docs/src/markdown/about/changelog.md
  docs/src/scss/extensions/_highlight.scss
  docs/theme/assets/pymdownx-extras/extra-01ab49a0b3.css
  docs/theme/assets/pymdownx-extras/extra-d6b3939c22.css
  pymdownx/__meta__.py
Labels: C: docs, C: source, S: approved

#889 Improve arithmatex patterns
  docs/src/markdown/about/changelog.md
  pymdownx/arithmatex.py
  tests/test_extensions/test_arithmatex.py
Labels: C: arithmatex, C: docs, C: source, C: tests, S: approved

#884 Initial work to get highlight ranges working
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/superfences.md
  pymdownx/__meta__.py
  pymdownx/superfences.py
  tests/test_extensions/test_superfences.py
Labels: C: docs, C: source, C: superfences, C: tests, S: approved

#899 Fix typo in a markdown kwarg name and fix import
  docs/src/markdown/faq.md
Labels: C: docs, S: approved

#900 Allow custom indexes to accept options and the markdown object
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/emoji.md
  pymdownx/emoji.py
  tests/test_extensions/test_emoji.py
Labels: C: docs, C: emoji, C: source, C: tests, S: approved

#901 Feature/linenum class
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/highlight.md
  pymdownx/highlight.py
  pymdownx/superfences.py
  tests/test_extensions/test_highlight.py
Labels: C: docs, C: highlight, C: source, C: superfences, C: tests, S: approved
