Repository facelessuser/pymdown-extensions, pull requests merged in 2020-02, with the labels that each got.

#808 Prep for 6.3.0 release
  docs/src/markdown/changelog.md
  docs/src/mkdocs.yml
  docs/theme/extra-174a536342.css
  docs/theme/extra-424d7dfff1.css
  docs/theme/extra-c035e56df5.css
  mkdocs.yml
  pymdownx/__init__.py
  pymdownx/__meta__.py
  pymdownx/extrarawhtml.py
  requirements/project.txt
  tests/test_versions.py
Labels: C: docs, C: extrarawhtml, C: infrastructure, C: source, C: tests, S: approved

#809 Doc refactor
  docs/src/scss/_code.scss
  docs/theme/extra-b1410d454c.css
  docs/theme/extra-c035e56df5.css
  mkdocs.yml
  requirements/docs.txt
Labels: C: docs, C: infrastructure, S: approved

#810 Fix typo
  docs/src/markdown/extensions/highlight.md
Labels: C: docs, S: approved

#818 Use discord for chat
  README.md
  mkdocs.yml
Labels: C: docs, C: infrastructure, S: approved

#819 SuperFences/Highlight updates
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/about/release.md
  docs/src/markdown/extensions/highlight.md
  docs/src/markdown/extensions/superfences.md
  pymdownx/__meta__.py
  pymdownx/arithmatex.py
  pymdownx/highlight.py
  pymdownx/superfences.py
  requirements/docs.txt
  tests/extensions/superfences/superfences (custom).html
  tests/extensions/superfences/superfences (custom).txt
  tests/extensions/superfences/superfences (failures).html
  tests/extensions/superfences/superfences (failures).txt
  tests/extensions/superfences/superfences (no highlight).html
  tests/extensions/superfences/superfences (no highlight).txt
  tests/extensions/superfences/superfences (no pygments).html
  tests/extensions/superfences/superfences (no pygments).txt
  tests/extensions/superfences/superfences (normal).html
  tests/extensions/superfences/superfences (normal).txt
  tests/extensions/superfences/tests.yml
  tests/test_extensions/test_highlight.py
  tests/test_extensions/test_inlinehilite.py
  tests/test_extensions/test_superfences.py
Labels: C: arithmatex, C: docs, C: highlight, C: infrastructure, C: inlinehilite, C: source, C: superfences, C: tests, S: approved

#822 Allow overriding the base logic for inline and fenced code
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/inlinehilite.md
  docs/src/markdown/extensions/superfences.md
  pymdownx/inlinehilite.py
  pymdownx/superfences.py
  tests/test_extensions/test_inlinehilite.py
  tests/test_extensions/test_superfences.py
Labels: C: docs, C: inlinehilite, C: source, C: superfences, C: tests, S: approved

#823 Separate CodeHilite from pymdown-extensions
  docs/src/markdown/about/changelog.md
  docs/src/markdown/about/release.md
  docs/src/markdown/extensions/highlight.md
  docs/src/markdown/extensions/inlinehilite.md
  docs/src/markdown/extensions/superfences.md
  pymdownx/highlight.py
  pymdownx/inlinehilite.py
  pymdownx/superfences.py
  tests/test_extensions/test_inlinehilite.py
Labels: C: docs, C: highlight, C: inlinehilite, C: source, C: superfences, C: tests, S: approved

#825 Fix extrarawhtml deprecation not being raised
  pymdownx/__meta__.py
  pymdownx/_bypassnorm.py
  pymdownx/arithmatex.py
  pymdownx/b64.py
  pymdownx/betterem.py
  pymdownx/caret.py
  pymdownx/critic.py
  pymdownx/details.py
  pymdownx/emoji.py
  pymdownx/emoji1_db.py
  pymdownx/escapeall.py
  pymdownx/extra.py
  pymdownx/extrarawhtml.py
  pymdownx/gemoji_db.py
  pymdownx/highlight.py
  pymdownx/inlinehilite.py
  pymdownx/keymap_db.py
  pymdownx/keys.py
  pymdownx/magiclink.py
  pymdownx/mark.py
  pymdownx/pathconverter.py
  pymdownx/progressbar.py
  pymdownx/slugs.py
  pymdownx/smartsymbols.py
  pymdownx/snippets.py
  pymdownx/striphtml.py
  pymdownx/superfences.py
  pymdownx/tabbed.py
  pymdownx/tasklist.py
  pymdownx/tilde.py
  pymdownx/twemoji_db.py
  pymdownx/util.py
  run_tests.py
  tests/extensions/extrarawhtml/extrarawhtml.html
  tests/extensions/extrarawhtml/extrarawhtml.txt
  tests/extensions/extrarawhtml/tests.yml
  tests/test_extensions/test_details.py
  tests/test_extensions/test_extrarawhtml.py
  tests/test_extensions/test_highlight.py
  tests/test_extensions/test_inlinehilite.py
  tests/test_extensions/test_pathconverter.py
  tests/test_extensions/test_slugs.py
  tests/test_extensions/test_superfences.py
  tests/test_syntax.py
  tests/test_targeted.py
  tests/test_versions.py
  tools/gen_emoji1.py
  tools/gen_gemoji.py
  tools/gen_twemoji.py
Labels: C: arithmatex, C: caret, C: critic, C: details, C: emoji, C: escapeall, C: extra, C: extrarawhtml, C: highlight, C: infrastructure, C: inlinehilite, C: keys, C: magiclink, C: mark, C: pathconverter, C: progressbar, C: slugs, C: smartsymbols, C: snippets, C: source, C: striphtml, C: superfences, C: tasklist, C: tests, C: tilde, S: approved

#826 Update Twemoji to 12.1.5
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/emoji.md
  pymdownx/twemoji_db.py
  tests/extensions/emoji/twemoji (png).html
  tests/extensions/emoji/twemoji (png).txt
  tools/gen_twemoji.py
Labels: C: docs, C: emoji, C: source, C: tests, S: approved

#829 Inline svg
  docs/src/scss/_headeranchors.scss
  docs/src/scss/_links.scss
  docs/src/svg/fontawesome/LICENSE.txt
  docs/src/svg/fontawesome/bitbucket.svg
  docs/src/svg/fontawesome/envelope.svg
  docs/src/svg/fontawesome/github.svg
  docs/src/svg/fontawesome/gitlab.svg
  docs/src/svg/material/LICENSE.txt
  docs/src/svg/material/link.svg
  docs/src/svg/octicons/LICNESE.txt
  docs/src/svg/octicons/git-commit.svg
  docs/src/svg/octicons/git-compare.svg
  docs/src/svg/octicons/git-pull-request.svg
  docs/src/svg/octicons/issue-opened.svg
  docs/theme/assets/pymdownx-extras/extra-72a175a13b.css
  docs/theme/assets/pymdownx-extras/extra-cc4d6aaa43.css
  gulpfile.babel.js
  package-lock.json
  package.json
Labels: C: docs, C: infrastructure, S: approved
