Repository facelessuser/pymdown-extensions, pull requests merged in 2021-02, with the labels that each got.

#1226 Fix Tabbed and Details list corner case
  docs/src/markdown/about/changelog.md
  pymdownx/__meta__.py
  pymdownx/details.py
  pymdownx/tabbed.py
  tests/test_extensions/test_details.py
  tests/test_extensions/test_tabbed.py
Labels: C: details, C: docs, C: source, C: tests, S: approved

#1227 Fix add_attribute typo
  pymdownx/emoji.py
Labels: C: emoji, C: source, S: approved

#1228 Update variable to be `def_non_std_image_path`
  pymdownx/emoji.py
Labels: C: emoji, C: source, S: approved

#1229 Update doc deps and update mkdocs.yml to work with latest Material
  .github/workflows/build.yml
  docs/src/mkdocs.yml
  mkdocs.yml
  package-lock.json
  package.json
Labels: C: docs, C: infrastructure, S: approved

#1248 typo
  docs/src/markdown/about/development.md
Labels: C: docs, S: approved
