Repository facelessuser/pymdown-extensions, pull requests merged in 2022-11, with the labels that each got.

#1843 Fixed class name
  docs/src/markdown/about/releases/7.0.md
Labels: C: docs, S: approved

#1853 Fix for em/strong corner cases
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/betterem.md
  pymdownx/__meta__.py
  pymdownx/betterem.py
  pymdownx/util.py
  tests/extensions/betterem/betterem (normal).html
  tests/extensions/betterem/betterem (reverse).html
Labels: C: docs, S: approved, C: tests, C: source

#1854 Add support for Python 3.11
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  docs/src/markdown/about/changelog.md
  hatch_build.py
  pymdownx/__meta__.py
Labels: C: docs, S: approved, C: infrastructure, C: source

#1858 Inline pattern enhancements
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/betterem.md
  pymdownx/__meta__.py
  pymdownx/betterem.py
  pymdownx/caret.py
  pymdownx/mark.py
  pymdownx/tilde.py
  tests/extensions/betterem/betterem (normal).html
  tests/extensions/betterem/betterem (reverse).html
  tests/extensions/caret/caret (dumb no sup).html
  tests/extensions/caret/caret (dumb no sup).txt
  tests/extensions/mark/mark (dumb).html
  tests/extensions/mark/mark (dumb).txt
  tests/extensions/tilde/tilde (dumb no sub).html
  tests/extensions/tilde/tilde (dumb no sub).txt
  tests/extensions/tilde/tilde (dumb).html
Labels: C: docs, C: caret, C: mark, C: tilde, S: approved, C: tests, C: source
