Repository facelessuser/pymdown-extensions, pull requests merged in 2022-02, with the labels that each got.

#1596 Add option to attach language classes to Pygments code blocks
  .github/workflows/build.yml
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/highlight.md
  pymdownx/highlight.py
  pymdownx/inlinehilite.py
  pymdownx/superfences.py
  setup.py
  tests/test_extensions/test_highlight.py
  tox.ini
Labels: C: docs, C: highlight, C: inlinehilite, C: superfences, S: approved, C: infrastructure, C: tests, C: source

#1612 Fix typo
  docs/src/markdown/extensions/superfences.md
Labels: C: docs, S: approved

#1619 b64: Add svg to list of supported extensions
  pymdownx/b64.py
Labels: S: approved, C: source
