Repository facelessuser/pymdown-extensions, pull requests merged in 2022-10, with the labels that each got.

#1725 Allow manually specifying a tab
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/tabbed.md
  pymdownx/__meta__.py
  pymdownx/tabbed.py
  tests/test_extensions/test_tabbed.py
  tests/test_extensions/test_tabbed_alternate.py
Labels: C: docs, S: approved, C: tests, C: source, C: tabbed

#1834 Add support for url headers
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/snippets.md
  pymdownx/snippets.py
Labels: C: docs, C: snippets, S: approved, C: source

#1825 Allow specifying a section in a snippet
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/snippets.md
  pymdownx/snippets.py
  tests/test_extensions/_snippets/section.txt
  tests/test_extensions/test_snippets.py
Labels: C: docs, C: snippets, S: approved, C: tests, C: source
