Repository facelessuser/pymdown-extensions, pull requests merged in 2023-10, with the labels that each got.

#2210 Fix an issue where attrs would not handle braces in attributes properly
  docs/src/markdown/about/changelog.md
  pymdownx/__meta__.py
  pymdownx/superfences.py
  tests/test_extensions/test_superfences.py
Labels: C: docs, C: superfences, S: approved, C: tests, C: source

#2206 Support PathLike objects in base_path
  pymdownx/snippets.py
  tests/test_extensions/test_snippets.py
Labels: C: snippets, S: approved, C: tests, C: source

#2218 Modernize usage of super
  docs/src/dictionary/en-custom.txt
  pymdownx/__meta__.py
  pymdownx/_bypassnorm.py
  pymdownx/arithmatex.py
  pymdownx/b64.py
  pymdownx/betterem.py
  pymdownx/caret.py
  pymdownx/critic.py
  pymdownx/emoji.py
  pymdownx/escapeall.py
  pymdownx/highlight.py
  pymdownx/inlinehilite.py
  pymdownx/keys.py
  pymdownx/magiclink.py
  pymdownx/mark.py
  pymdownx/pathconverter.py
  pymdownx/progressbar.py
  pymdownx/smartsymbols.py
  pymdownx/snippets.py
  pymdownx/striphtml.py
  pymdownx/tabbed.py
  pymdownx/tasklist.py
  pymdownx/tilde.py
  pymdownx/util.py
Labels: C: docs, C: arithmatex, C: caret, C: critic, C: emoji, C: escapeall, C: highlight, C: inlinehilite, C: keys, C: magiclink, C: mark, C: progressbar, C: smartsymbols, C: snippets, C: striphtml, C: superfences, C: tasklist, C: tilde, S: approved, C: pathconverter, C: source, C: tabbed
