Repository facelessuser/pymdown-extensions, pull requests merged in 2023-01, with the labels that each got.

#1898 Docs: Installation.md terminology tweak
  docs/src/markdown/installation.md
Labels: C: docs, S: approved

#1904 Replace MaxCDN, which has shut down
  docs/src/markdown/extensions/emoji.md
  pymdownx/emoji.py
  tests/extensions/emoji/twemoji (png).html
  tests/extensions/emoji/twemoji (svg).html
  tests/test_extensions/test_emoji.py
Labels: C: docs, C: emoji, S: needs-review, C: tests, C: source

#1906 Update codecov
  .github/workflows/build.yml
Labels: S: approved, C: infrastructure

#1907 Update version and changlog for bugfix release 9.9.1
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/emoji.md
  pymdownx/__meta__.py
Labels: C: docs, C: emoji, S: approved, C: source

#1917 Relax Snippets syntax to allow only one dash `-8<-`
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/snippets.md
  pymdownx/__meta__.py
  pymdownx/snippets.py
  tests/test_extensions/_snippets/section.txt
  tests/test_extensions/test_snippets.py
Labels: C: docs, C: snippets, S: approved, C: tests, C: source

#1918 docs: fix some typos
  docs/src/markdown/extensions/highlight.md
Labels: C: docs, S: approved

#1926 Update year to 2023
  LICENSE.md
  docs/src/mkdocs.yml
  mkdocs.yml
Labels: C: docs, S: approved, C: infrastructure

#1929 Fix extraneous newlines in indented code blocks with use_pygments=False
  docs/src/markdown/about/changelog.md
  pymdownx/__meta__.py
  pymdownx/highlight.py
  tests/test_extensions/test_highlight.py
Labels: C: docs, C: highlight, S: approved, C: tests, C: source
