Repository facelessuser/pymdown-extensions, pull requests merged in 2024-09, with the labels that each got.

#2450 MagicLink: change processing to use x instead of twitter
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/magiclink.md
  pymdownx/__meta__.py
  pymdownx/magiclink.py
  tests/extensions/magiclink/magiclink (shorthand).html
  tests/extensions/magiclink/magiclink (shorthand).txt
  tests/extensions/magiclink/magiclink (shorthand-social).html
  tests/extensions/magiclink/magiclink (shorthand-social).txt
  tests/extensions/magiclink/tests.yml
  tests/test_extensions/test_magiclink.py
Labels: C: docs, C: magiclink, S: approved, C: tests, C: source

#2456 Fix for urlunparse in latest Python versions
  docs/src/markdown/about/changelog.md
  pymdownx/pathconverter.py
Labels: C: docs, S: approved, C: pathconverter, C: source

#2455 Add fancylist extension
  LICENSE.md
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/.snippets/links.md
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/fancylists.md
  docs/src/markdown/extensions/saneheaders.md
  docs/src/markdown/index.md
  docs/src/mkdocs.yml
  docs/src/scss/_material.scss
  docs/theme/assets/pymdownx-extras/extra-8611f6c398.css.map
  mkdocs.yml
  pymdownx/fancylists.py
  tests/test_extensions/test_fancylists.py
Labels: C: docs, S: approved, C: infrastructure, C: tests, C: source

#2463 Update twemoji to the latest
  docs/src/markdown/about/changelog.md
  pymdownx/twemoji_db.py
  tests/extensions/emoji/twemoji (png).html
  tests/extensions/emoji/twemoji (png).txt
Labels: C: docs, C: emoji, S: approved, C: tests, C: source

#2464 fancylist inject class remove semicolon
  pymdownx/fancylists.py
  tests/test_extensions/test_fancylists.py
Labels: S: approved, C: tests, C: source

#2467 Add support for `*tag1 **tag1,tag2***` cases for `*`, `_`, `~`, and `^`
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/betterem.md
  pymdownx/betterem.py
  pymdownx/caret.py
  pymdownx/mark.py
  pymdownx/tilde.py
  tests/extensions/caret/caret (dumb).html
  tests/extensions/caret/caret (dumb).txt
  tests/extensions/caret/caret.html
  tests/extensions/caret/caret.txt
  tests/extensions/caret/tests.yml
  tests/extensions/tilde/tests.yml
  tests/extensions/tilde/tilde (dumb).html
  tests/extensions/tilde/tilde (dumb).txt
  tests/extensions/tilde/tilde.html
  tests/extensions/tilde/tilde.txt
  tests/test_extensions/test_betterem.py
  tests/test_extensions/test_caret.py
  tests/test_extensions/test_tilde.py
Labels: C: docs, C: caret, C: mark, C: tilde, S: approved, C: tests, C: source

#2472 Fix omitted language case
  docs/src/markdown/about/changelog.md
  pymdownx/__meta__.py
  pymdownx/superfences.py
  tests/test_extensions/test_superfences.py
Labels: C: docs, C: superfences, S: approved, C: tests, C: source
