Repository facelessuser/pymdown-extensions, pull requests merged in 2025-04, with the labels that each got.

#2651 Fix some corner cases with Blocks and nested lists
  docs/src/markdown/about/changelog.md
  pymdownx/blocks/__init__.py
  tests/test_extensions/test_blocks/test_general_blocks.py
Labels: C: docs, S: approved, C: tests, C: source

#2649 Provide option for more relaxed fenced code headers
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/superfences.md
  docs/src/mkdocs.yml
  mkdocs.yml
  pymdownx/superfences.py
  tests/test_extensions/test_superfences.py
Labels: C: docs, C: superfences, S: approved, C: infrastructure, C: tests, C: source

#2634 add type annotations to block.py
  docs/src/markdown/extensions/blocks/api.md
  pymdownx/blocks/__init__.py
  pymdownx/blocks/admonition.py
  pymdownx/blocks/block.py
  pymdownx/blocks/caption.py
  pymdownx/blocks/details.py
  pymdownx/blocks/html.py
  pymdownx/blocks/tab.py
  pyproject.toml
  requirements/test.txt
Labels: C: docs, C: details, S: approved, C: infrastructure, C: source

#2652 Finish typing the Blocks interface and type additional referenced files
  .pyspelling.yml
  docs/src/markdown/about/changelog.md
  pymdownx/__meta__.py
  pymdownx/blocks/__init__.py
  pymdownx/blocks/block.py
  pymdownx/util.py
  pyproject.toml
  tests/test_versions.py
Labels: C: docs, S: approved, C: infrastructure, C: tests, C: source

#2654 Drop Python 3.8
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  docs/src/markdown/about/changelog.md
  hatch_build.py
  pymdownx/__meta__.py
  pyproject.toml
Labels: C: docs, S: approved, C: infrastructure, C: source
