Repository facelessuser/pymdown-extensions, pull requests merged in 2025-01, with the labels that each got.

#2558 Test with latest Pygments and fix related issues
  pyproject.toml
  tests/extensions/superfences/superfences (normal).html
  tests/extensions/superfences/superfences (preserve tabs).html
  tests/test_extensions/test_blocks/test_general_blocks.py
  tests/test_extensions/test_highlight.py
  tests/test_extensions/test_inlinehilite.py
  tests/test_extensions/test_superfences.py
Labels: C: highlight, C: inlinehilite, C: superfences, S: approved, C: infrastructure, C: tests

#2559 Add support to handle custom HTML tags
  docs/src/markdown/about/changelog.md
  docs/src/markdown/extensions/blocks/api.md
  docs/src/markdown/extensions/blocks/plugins/html.md
  pymdownx/__meta__.py
  pymdownx/blocks/html.py
  tests/test_extensions/test_blocks/test_html.py
Labels: C: docs, S: approved, C: tests, C: source

#2560 Fix missing dict key in arithmatex docs
  docs/src/markdown/extensions/arithmatex.md
Labels: C: docs, S: approved

#2576 Fix list patterns in FancyList
  docs/src/markdown/about/changelog.md
  pymdownx/__meta__.py
  pymdownx/fancylists.py
  tests/test_extensions/test_fancylists.py
Labels: C: docs, S: approved, C: tests, C: source

#2577 Block extensions: ensure `md_in_html` has the correct target element
  docs/src/markdown/about/changelog.md
  pymdownx/__meta__.py
  pymdownx/blocks/__init__.py
  tests/test_extensions/test_blocks/test_general_blocks.py
Labels: C: docs, S: approved, C: tests, C: source
